# Firebase Admin SDK (JSON string or path to file)
FIREBASE_SERVICE_ACCOUNT=

# JWT Secret for OTP verification (temporary)
JWT_SECRET=

# Razorpay API Keys
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Delhivery (Delivery One) API Key
DELHIVERY_API_KEY=
